:root{
    --grid-size:16;
    --color: black;
    --accent-color:#66d36f;
}

body{
    font-family:'Roboto', sans-serif;
    width:80%;
    margin:0px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

body>div{
    display:flex;
    align-items: start;
    gap:5rem;
}

#container{
    flex-shrink:0;
    width:90vw;
    height:90vw;
    max-width: 600px;
    max-height:600px;
    border:1px solid black;

    display:flex;
    flex-wrap:wrap;
    box-sizing: border-box;
}


.grid-cell{
    width: calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));

    box-sizing: border-box;

    border:1px solid  rgba(0, 0, 0, 0.082);
}

.grid-cell.borderless-cell{
    border:none;
}

section{
    padding:1rem 2rem;
    border:1px solid var(--accent-color);
}
section span{
    margin-bottom:0.5rem;
}

input{
    display:block;
}

#custom-color{
    width: 100%;
}

input[type=range]{
    accent-color: var(--accent-color);
}
input, button{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width:100%;
}

button{
    padding: 0.8rem 1rem;
    border:none;
    border-radius: 7px;
    background-color: var(--accent-color);
    min-width:fit-content;

    cursor:pointer;

    
}

#random-color{
    background: #eb5757;
    background: linear-gradient(60deg, rgb(235, 87, 87) 0%, rgba(244, 255, 122, 1) 51%, rgba(126, 247, 211, 1) 100%);
    border:none;
    
}

label{
    display:inline-block;
    margin-bottom:0.5rem;
}

